  $brand-color: #2196f3;
  $brand-background-color: #2f303a;
  $text-color: #212121;
  $white-color: #ffffff;
  $gray-color: #757575;
  $background-color: #f5f4fa;
  $light-gray-color: #afb1b8;
  $focus-brand-color: #188ce8;

  $bp-mobile: 480px;
  $bp-tablet: 768px;
  $bp-desktop: 1200px;