.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__item:hover,
  &__item:focus {
    fill: $white-color;
    background-color: $brand-color;
  }
}
